@* login Template File *@
<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/jquery-2.2.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
<div>  <p align="center" color="green"> <h1 align="center" >Team Wells Mario</h1></p> </div>
<div align="center">
   <img src="@routes.Assets.versioned("images/wellsmario.jpg")" width="600" height="600" />
</div>
<div> <p align = "center"><h3 align="center">&nbsp;&nbsp;  Erik Luke, Dick Lewan, and Satheesh Bejjanki </h3></p> </div>
<div align="center"> <a  href = "@routes.HomeController.login()">Launch Retirement Robbery </a></div>
 </body>
</html>

